img{
    max-width: 230px;
    height: 210px;
}
article{
    max-width: 230px;
    text-align: center;
    margin: 15px;
    padding: 10px;
}
h3{
    margin: 10px 0;
    font-size: 1.6em;
    text-decoration: underline;
}
h3, h4{
    text-align: center;
}
@media(max-width: 610px){
    #computacion{
        margin-top: 90px;
    }
}
@media(max-width: 338px){
    #computacion{
        margin-top: 130px;
    }
}