@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 100%;
}
header{
position: fixed;
top: 0;
width: 100%;
}
header .contenedor{
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    background-color: black;
}
header h1{
    color:antiquewhite;
    font-size: 2em;
    font-weight: bolder;
}
header p{
    font-size: 1.5em; 
    color: antiquewhite;
}
section{
    padding-bottom: 20px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}
main{
    margin-top: 60px;
}
main .contenedor{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}
.parallax{
    background: white fixed no-repeat 50% 50%;
    background-size: cover;
}
